#wrapper {
margin: 0 auto;
width: 832px;
}
#content {
font-size: 19px;
font-family: Georgia, serif;
width: 810px;
margin: 10px 10px;
border: 1px solid #696;
padding: 20px 0 7px 0;
text-align: center;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: #666 0px 2px 3px;
-moz-box-shadow: #666 0px 2px 3px;
box-shadow: #666 0px 2px 3px;
background: #EEFF99;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EEFF99), to(#66EE33));
background: -webkit-linear-gradient(#EEFF99, #66EE33);
background: -moz-linear-gradient(#EEFF99, #66EE33);
background: -ms-linear-gradient(#EEFF99, #66EE33);
background: -o-linear-gradient(#EEFF99, #66EE33);
background: linear-gradient(#EEFF99, #66EE33);
}
#name{
font-family: 'Alegreya Sans SC', sans-serif;
font-size:85px;
line-height:0.78;
margin-bottom:15px;
border-bottom: 5px solid #222;
}
#construction{
font-size:42px;
color:red;
}
#social{
margin-bottom: 7px;
}
#social a{
margin-right: 16px;
}
body{
  background-image: url(../img/texture.png);
  background-repeat:repeat;
}
